@import url('https://fonts.googleapis.com/css?family=Fira+Code:600&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: 'Fira Code', monospace;
}
a{
    text-decoration: none;
}

header {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

main {
    width: 100%;
}

main .card-project {
    width: 95%;
    margin-bottom: 20px;
    min-height: 100px;
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 10px grey, 0 -5px 10px whitesmoke;
    transition: 0.2s;
}
main .card-project:hover{
    transform: scale(1.05);
    cursor: pointer;
}
main .card-project:hover h2{
 transition: 0.2s;
}
main .card-project:hover h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.card-1 {
    background-image: url('./src/cards-animate.PNG');
    color: whitesmoke;
}
.card-2{
    background-image: url('./src/cards-white.png');
    color: navy;
}
footer {
    display: block;
    background-color: #333;
    position: absolute;
    color: whitesmoke;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
    bottom: 0;
}
footer a, footer a:active, footer a:visited{
    color: whitesmoke;
    text-decoration: none;
}
